*.cfg~
*.sh~
downloads/
usr/*
*.xml
*.key
.installed.cfg
bin/
dummyshop/
eggs/
parts/
.owner
jobs/
plugins/
*.xml.bak
updates/
var/
war/
logs/*
jenkins.log
.lastStarted
failed-boot-attempts.txt
identity.key.enc
jenkins.install.InstallUtil.lastExecVersion
jenkins.install.UpgradeWizard.state
secret.key.not-so-secret
secrets/
workspace/
lib/*
